<p id="notice"><%= notice %></p>

<div class="show container-fluid">
	<div class="post">
		<h1><%= @post.title %></h1>
		
		<div class="post__thumbnail"></div>
		
		<div class="post__info">
			<div class="post__user-avatar"></div>
			<div class="post__user-name">@sheryl2&nbsp;&nbsp;&middot;&nbsp;&nbsp;</div>
			<div class="post__stats">

				<span><%= @post.votes_for.count %> approve</span>
			</div>
			<button class="btn btn-default approve">APPROVE</button>
		</div>
		
		<div class="post__body">
			<h3>1. Total Body Movements.</h3>
			<p>
				At its core, success is about relationships. Involve customers and colleagues in the
				creation of and direction of your busines pursuits. With them, set standards for the
				work that needs to be accomplished in each person’s area of responsibility. Make 
				these standards challenging but achievable. The result will be the high-level 
				productivity and service you aim to perform. 
			</p>
			<p>
				You can only go so far in business alone. You need others for your own success, 
				empowerment and completeness. In business, choose your aims and equip your team
				to get your business where it needs to go, rewarding the team members along the way.
			</p>
			<h3>2. Total Body Movements.</h3>
			<p>
				At its core, success is about relationships. Involve customers and colleagues in the
				creation of and direction of your busines pursuits. With them, set standards for the
				work that needs to be accomplished in each person’s area of responsibility. Make 
				these standards challenging but achievable. The result will be the high-level 
				productivity and service you aim to perform. 
			</p>
			<p>
				You can only go so far in business alone. You need others for your own success, 
				empowerment and completeness. In business, choose your aims and equip your team
				to get your business where it needs to go, rewarding the team members along the way.
			</p>
			<h3>3. Total Body Movements.</h3>
			<p>
				At its core, success is about relationships. Involve customers and colleagues in the
				creation of and direction of your busines pursuits. With them, set standards for the
				work that needs to be accomplished in each person’s area of responsibility. Make 
				these standards challenging but achievable. The result will be the high-level 
				productivity and service you aim to perform. 
			</p>
			<p>
				You can only go so far in business alone. You need others for your own success, 
				empowerment and completeness. In business, choose your aims and equip your team
				to get your business where it needs to go, rewarding the team members along the way.
			</p>
				
		</div>
	</div>
</div>

<div class="show container-fluid">
	<div class="comments">
		<div class="row comment-title">
			All Comments (<%= @post.comments.count %>)
		</div>
		<div class="row new-comment">
			<div class="user-avatar col-md-2 col-xs-4"></div>
			<%= form_tag comments_url, method: :post, class: "col-md-10 col-xs-8" do %>
	      <p>
	        <%= text_area(:comment, :comment, class: "form-control", placeholder: 'Add a Comment') %>
	        <input type="hidden" name="comment[post_id]" value=<%= @post.id %> />
	        <%= submit_tag "Post", name: nil, class: "btn btn-default new-comment__submit" %>
	      </p>
	    <% end %>
		</div>
		<% @post.comments.each do |comment| %>
			<div class="comment row">
				<div class="user-avatar col-md-2 col-xs-4">
				</div>
				<div class="comment__content col-md-10 col-xs-8">
					<div class="user-name">@atseng3</div> <%= time_ago_in_words(comment.created_at) %> ago
					<div class="comment__body">
						<%= raw comment.comment %>
					</div>
				</div>
			</div>	
		<% end %>
	</div>
</div>